docs/SSRF v3 XSD Files/work/domain-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.w3.org/2001/XMLSchema"/>
	<xs:complexType name="T_xml">
		<xs:sequence>
			<xs:element ref="xs:simpleType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attribute name="name" type="xs:string"/>
	<xs:attribute name="base" type="xs:string"/>
	<xs:element name="xml" type="T_xml"/>
</xs:schema>
